[Unit]
Description=Eating...
ConditionPathIsDirectory=/home/share/dining-room
Conflicts=thinking.target hungry.target
Wants=eating.timer eating-food.service
