[Unit]
Description=Hungry Period
ConditionPathIsDirectory=/home/share/dining-room
PartOf=hungry.target

[Timer]
Unit=eating.target
RandomizedDelaySec=5
OnActiveSec=0
AccuracySec=1us
RemainAfterElapse=false
