[Unit]
Description=Hunger
ConditionPathIsDirectory=/home/share/dining-room/seats
PartOf=hungry.target
Before=eating.target fork-check.service

[Service]
Type=oneshot
SyslogFacility=local0
ExecStart=/usr/local/bin/hunger
