[Unit]
Description=Hungry...
ConditionPathIsDirectory=/home/share/dining-room/seats
Conflicts=eating.target thinking.target
Wants=hunger.service fork-check.service
